Source: showmax-nginx-sso-cookie-auth
Section: unknown
Priority: optional
Maintainer: ShowMax Ops <ops@showmax.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.0.0
Vcs-Git: git@git.showmax.cc:ops/nginx-sso-cookie-auth.git
Vcs-Browser: https://git.showmax.cc/ops/nginx-sso-cookie-auth

Package: showmax-nginx-sso-cookie-auth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lua-cjson
Description: nginx LUA module for ShowMax SSO cookie verification
